@model List<User>
@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <title></title>
</head>
<body>
    <form asp-controller="Home" asp-action="Login" method="post" style="margin-top: 50px;">
        <h1>Login</h1>
        <hr />
        <br>    
        <div class="mb-3">
            <label for="exampleInputUser" class="form-label">User</label>
            <input type="text" class="form-control" id="exampleInputUser" name="username" aria-describedby="userHelp">
            <div id="userHelp" class="form-text">Enter your username.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger mt-2">
                @ViewBag.ErrorMessage
            </div>
        }
    </form>
</body>
</html>
